<div class="card m-2">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= list.name %></h5>
    <%= link_to 'Details', list_path(list), :class => "btn btn-primary" %>
  </div>
</div>
